<!--一级回复-->
<% if(replies.length > 0){%>
<div class="aw-mod aw-question-comment" id="page_read">
    <div class="mod-head">
        <ul class="nav nav-tabs aw-nav-tabs active">
            <h2 class="hidden-xs"><%= shop.comment_num %>个回复</h2>
        </ul>
    </div>
    <div class="mod-body aw-feed-list">
        <% replies.forEach(function(reply,index){ %>
        <div class="aw-item" id="<%= reply._id %>" off="true">
            <div class="mod-head">
                <a class="aw-user-img aw-border-radius-5 pull-right" href="/user/<%= reply.author.name %>">
                    <img src="<%= reply.author.avatar %>">
                </a>
                <div class="title">
                    <p>
                        <a class="aw-user-name" href="/user/<%= reply.author.name %>">
                            <%= reply.author.name %>
                        </a>
                    </p>
                </div>
            </div>
            <div class="mod-body clearfix">
                <div class="markitup-box">
                    <%- (reply.content) %>
                </div>
            </div>
            <div class="mod-footer">
                <div class="meta clearfix">
                    <span class="text-color-999 pull-right">
                        <%= reply.create_time_ago() %>
                    </span>
                    <span class="operate">
                        <a class="agree" target="<%= reply._id%>">
                            <i class="fa fa-thumbs-o-up"></i>
                            <b class="count"><%= reply.likes.length%></b>
                        </a>
                        <!--<a class="disagree">
                            <i class="fa fa-thumbs-o-down"></i>
                        </a>-->
                    </span>
                   <!-- <span class="operate">
                        <a class="aw-add-comment" content="<%= reply.comment_num %>条评论">
                            <i class="fa fa-comment"></i>
                            回复
                        </a>
                    </span>-->
                </div>
            </div>
        </div>
        <% }) %>
    </div>
    <div class="mod-footer"></div>
</div>
<% } %>
<script>
$('.fa-thumbs-o-up').click(function(event){
    var id = $(this).parent('a').attr('target')
    console.log(id)
    $.ajax({
        type:'POST',
        url:`/${id}/likes`,
        headers:{'Content-Type':'application/x-www-form-urlencoded'}
    }).done(data=>{
        console.log(data)
        var count = $('b.count')
        if(data == 'like'){
            count.text(parseInt( count.text())+1)
        }else if(data == 'unlike'){
            count.text(parseInt( count.text())-1)
        }
    }).fail(err=>{
        console.log(err);
    })
})
</script>
